<header>
  <nav class="navbar navbar-expand-md navbar-success bg-success">
    <a class="navbar-brand" routerLink="/"><img src="https://res.cloudinary.com/hcg7pmygp/image/upload/c_thumb,w_50/v1607602262/favicon.ico"> Super Copac</a>
    <button class="navbar-toggler btn-success" type="button" data-toggle="collapse" data-target="#menu"
      aria-controls="menu" aria-expanded="false" aria-label="Toggle navigation" (click)="show = !show">
      <i-chevron-down [hidden]="show"></i-chevron-down>
      <i-x [hidden]="!show"></i-x>
    </button>
    <div class="collapse navbar-collapse" id="menu">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item btn btn-success" routerLinkActive="active">
          <a class="nav-link text-white" routerLink="/compras">Comprar</a>
        </li>
        <li class="nav-item btn btn-success" routerLinkActive="active">
          <a class="nav-link text-white" routerLink="/tutorial">Tutorial</a>
        </li>
        <li class="nav-item btn btn-success" routerLinkActive="active">
          <a class="nav-link text-white" routerLink="/ofertas">Ofertas</a>
        </li>
        <li class="nav-item btn btn-success" routerLinkActive="active">
          <a class="nav-link text-white" routerLink="/video">Vídeo</a>
        </li>
        <li class="nav-item btn btn-success" routerLinkActive="active">
          <a class="nav-link text-white" routerLink="/sobre-nos">Sobre nós</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
