<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="margin: auto; background: none; display: block; shape-rendering: auto;" width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
  <g transform="rotate(0 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.9866666666666667s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(4.8 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.9733333333333334s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(9.6 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.96s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(14.4 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.9466666666666667s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(19.2 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.9333333333333333s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(24 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.92s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(28.8 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.9066666666666666s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(33.6 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.8933333333333333s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(38.4 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.88s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(43.2 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.8666666666666667s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(48 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.8533333333333334s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(52.8 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.84s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(57.6 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.8266666666666667s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(62.4 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.8133333333333334s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(67.2 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.8s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(72 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.7866666666666666s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(76.8 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.7733333333333333s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(81.6 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.76s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(86.4 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.7466666666666667s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(91.2 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.7333333333333333s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(96 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.72s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(100.8 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.7066666666666667s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(105.6 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.6933333333333334s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(110.4 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.68s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(115.2 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.6666666666666666s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(120 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.6533333333333333s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(124.8 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.64s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(129.6 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.6266666666666667s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(134.4 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.6133333333333333s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(139.2 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.6s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(144 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5866666666666667s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(148.8 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5733333333333334s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(153.6 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.56s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(158.4 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5466666666666666s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(163.2 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5333333333333333s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(168 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.52s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(172.8 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.5066666666666667s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(177.6 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.49333333333333335s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(182.4 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.48s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(187.2 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.4666666666666667s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(192 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.4533333333333333s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(196.8 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.44s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(201.6 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.4266666666666667s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(206.4 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.41333333333333333s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(211.2 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.4s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(216 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.38666666666666666s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(220.8 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.37333333333333335s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(225.6 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.36s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(230.4 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.3466666666666667s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(235.2 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.3333333333333333s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(240 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.32s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(244.8 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.30666666666666664s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(249.6 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.29333333333333333s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(254.4 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.28s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(259.2 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.26666666666666666s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(264 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.25333333333333335s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(268.8 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.24s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(273.6 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.22666666666666666s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(278.4 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.21333333333333335s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(283.2 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.2s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(288 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.18666666666666668s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(292.8 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.17333333333333334s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(297.6 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.16s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(302.4 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.14666666666666667s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(307.2 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.13333333333333333s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(312 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.12s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(316.8 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.10666666666666667s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(321.6 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.09333333333333334s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(326.4 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.08s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(331.2 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.06666666666666667s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(336 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.05333333333333334s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(340.8 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.04s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(345.6 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.02666666666666667s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(350.4 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="-0.013333333333333334s" repeatCount="indefinite"></animate>
    </rect>
  </g><g transform="rotate(355.2 50 50)">
    <rect x="42" y="5" rx="6.5600000000000005" ry="6" width="16" height="12" fill="currentColor">
      <animate attributeName="opacity" values="1;0" keyTimes="0;1" dur="1s" begin="0s" repeatCount="indefinite"></animate>
    </rect>
  </g>
  <!-- [ldio] generated by https://loading.io/ --></svg>