.card {
    padding: 15px;
    margin-top: 15px;
    border-top: .25em green solid;
    max-width: 1000px;
}
@media(min-width: 768px) {
    .card {
        margin: 15px auto 0;
        padding-bottom: 15px;
    }
}
.card-body {
    padding: 1rem 0;
}
.container-fluid {
    padding: 15px;
    background-color: #f8f9fa;
    min-height: -webkit-fill-available;
    min-height: -moz-available;
}
img {
    width: 100%;
    border-radius: 0.25em;
}
.map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}
.map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
.navbar {
    margin-bottom: 20px;
}
a * {
    margin: 3px;
}
button {
    margin-top: 1em;
}
.list a {
    display: flex;
    gap: 1em;
    color: #000;
}