<div class="container-fluid">
  <ngx-masonry [options]="myOptions" [useImagesLoaded]="true" class="mx-auto mt-2">
    <div ngxMasonryItem class="masonry-item card col-md text-center p-1" *ngFor="let product of list">
      <h5 class="card-title">{{product.titulo}}</h5>
      <div class="badges">
        <span class="badge badge-success mb-1">
          {{getValue(product.descricao)[0]}}
          <span class="offer-value">{{getValue(product.descricao)[1]}}</span>
        </span>
        <span class="badge badge-success" *ngIf="product.dataFinal">até {{getDate(product.dataFinal | date : "shortDate")}}</span>
      </div>
      <div class="overlay">
        <img class="card-img-top d-block" src="{{product.img}}">
        <a class="btn btn-outline-light" type="button" routerLink="/oferta/{{product._id}}"
          (click)="selected = product._id; ngOnInit();">
          <i-search></i-search>
          <br>
          Ver Mais
        </a>
      </div>
      <div class="card-footer text-center">
        <button type="button" class="btn-success btn btn-block" aria-label="Comprar" data-toggle="modal"
          data-target="#pegar-oferta" (click)="selectedProm = product">
          <i-percent></i-percent>
          Pegar Oferta
        </button>
        <button *ngIf="uService.user" type="button" (click)="remove(product)" class="btn btn-danger"
          aria-label="Excluir">
          <i-trash-2></i-trash-2>
        </button>
      </div>
    </div>
  </ngx-masonry>
  <button class="btn btn-success m-1 share pointer" [style.bottom]="showShareBtn ? '4.5em' : '1.5em'" id="share" (click)="sharePhone()">
    <i-share-2 [hidden]="showShareBtn"></i-share-2>
    <i-x [hidden]="!showShareBtn"></i-x>
  </button>
  <div class="clean-card fixed-bottom" *ngIf="showShareBtn">
    <h5>
      Compartilhar ofertas
    </h5>
    <div>
      <span (click)="share()" class="btn-success btn-sm btn buy-btn">
        <i-whatsapp [size]="'24px'" ></i-whatsapp>
        WhatsApp
      </span>
      <a href="https://www.facebook.com/sharer/sharer.php?u=copac.herokuapp.com/ofertas" 
      target="_blank" class="btn-primary btn-sm btn fb">
        <i-facebook></i-facebook>
        Facebook
      </a>
      <a href="http://twitter.com/share?text=Olha%20essas%20ofertas%20do%20SuperCopac&url=https://copac.herokuapp.com/ofertas&hashtags=ofertas,copac,supermercado,charqueadas"
      target="_blank" class="btn-info btn-sm btn">
        <i-twitter></i-twitter>
        Twitter
      </a>
      <button class="btn-secondary btn-sm btn" (click)="copyMessage()">
        <i-link></i-link>
        Copiar Link
      </button>
    </div>
  </div>
</div>
<app-cart-btn [mBottom]="showShareBtn && (width < 630) ? '7em' : '1.5em'"></app-cart-btn>
<app-modal [prom]="selectedProm" *ngIf="selectedProm"></app-modal>
