.logo {
  height: 1.5em;
}
.fb-img {
  height: 1.3em;
  vertical-align: top !important;
}
.fb:hover {
  color: #fff;
  background-color: #3B5998;
  border-color: #3B5998;
}
.fb {
  color: #3B5998;
  border-color: #3B5998;
}
.insta:hover {
  color: #fff;
  background-color: #DC004A;
  border-color: #DC004A;
}
.insta {
  color: #DC004A;
  border-color: #DC004A;
}
.msg {
  color: #0084FF;
  border-color: #0084FF
}
.msg:hover {
  color: #fff;
  background-color: #0084FF;
  border-color: #0084FF
}
.wp:hover {
  border-color: #30BF39;
  background-color: #30BF39;
}
.fb, .wp, .phone, .msg, .insta {
  font-weight: bold;
}
.mat-card-content {
  padding-bottom: 1em;
}
.btn {
  white-space: normal;
}
.modal-title {
  display: flex;
  gap: 0.5em;
  flex-direction: row;
  align-items: flex-start;
}
.modal-title h5 {
  margin: 0;
}
.badge.btn-outline-info {
  font-size: 20%;
  margin-top: 0;
}
.alert-info {
  transition: 300ms ease-out;
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.alert {
  display: flex;
  gap: 1em;
}
.alert-info.show {
  opacity: 1;
  padding: inherit;
  height: auto;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #666;
}
.separator::before {
  margin-right: 1em;
}
.separator::after {
  margin-left: 1em;
}
.wp:hover {
  border-color: #30BF39;
  background-color: #30BF39;
  transition: ease-in-out 500ms;
}
.wp {
  transition: ease-in-out 500ms;
}
