.logo {
  height: 1.5em;
}
.fb-img {
  height: 1.3em;
  vertical-align: top !important;
}
.fb:hover {
  color: #fff;
  background-color: #3B5998;
  border-color: #3B5998;
}
.fb {
  color: #3B5998;
  border-color: #3B5998;
}
.insta:hover {
  color: #fff;
  background-color: #DC004A;
  border-color: #DC004A;
}
.insta {
  color: #DC004A;
  border-color: #DC004A;
}
.msg {
  color: #0084FF;
  border-color: #0084FF
}
.msg:hover {
  color: #fff;
  background-color: #0084FF;
  border-color: #0084FF
}
.wp:hover {
  border-color: #30BF39;
  background-color: #30BF39;
}
.fb, .wp, .phone, .msg, .insta {
  font-weight: bold;
}
.mat-card-content {
  padding-bottom: 1em;
}
.btn {
  white-space: normal;
}
.modal-title {
  display: flex;
  gap: 0.5em;
  flex-direction: row;
  align-items: flex-start;
}
.modal-title h5 {
  margin: 0;
}
.badge.btn-outline-info {
  font-size: 20%;
  margin-top: 0;
}
.alert-info {
  transition: 300ms ease-out;
  opacity: 0;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.alert-info.show {
  opacity: 1;
  padding: inherit;
  height: auto;
}
.separator {
  display: flex;
  align-items: center;
  text-align: center;
}
.separator::before, .separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #666;
}
.separator::before {
  margin-right: 1em;
}
.separator::after {
  margin-left: 1em;
}
.wp:hover {
  border-color: #30BF39;
  background-color: #30BF39;
  transition: ease-in-out 500ms;
}
.wp {
  transition: ease-in-out 500ms;
}
.label-float {
  position: relative;
  padding-top: 13px;
}
.label-float input {
  border: 1px solid lightgrey;
  border-radius: 0.25rem;
  outline: none;
  width: 100%;
  min-width: 200px;
  padding: 15px 20px;
  font-size: 16px;
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  -webkit-appearance: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.label-float input:focus {
  border: 2px solid var(--primary);
}
.label-float input::placeholder {
  color: transparent;
}
.label-float label {
  pointer-events: none;
  position: absolute;
  top: calc(50% - 8px);
  left: 15px;
  transition: all .1s linear;
  -webkit-transition: all .1s linear;
  -moz-transition: all .1s linear;
  background-color: white;
  padding: 5px;
  box-sizing: border-box;
}
.label-float input.invalid+label, .text-danger {
  color: tomato !important;
}
.label-float input.invalid {
  border: 2px solid tomato;
}
.label-float input:focus+label, .label-float input:not(:placeholder-shown)+label {
  font-size: 13px;
  top: 0.5em;
  line-height: 0;
  color: var(--primary);
}