<div class="container-fluid">
  <div class="container py-4">
    <h1 class="mt-5 text-success">Como comprar?</h1>
    <div class="tuto card clean-card">
      <div class="caption">
        <h3>Como o produto vai estar exposto?</h3>
        <h6>Uma vez escolhido o produto, basta informar a quantidade desejada e apertar em 
          <button class="btn btn-success rounded-pill">
            <i-shopping-cart></i-shopping-cart>
            Comprar
          </button>
        </h6>
      </div>
      <img src="/assets/tuto.jpg" alt="Tutorial 1">
    </div>
    <div class="tuto card clean-card">
      <div class="caption">
        <h3>Como procurar produtos por nome ou setor?</h3>
        <h6>Basta digitar o nome ou a marca do produto desejado e apertar <i-search class="text-success"></i-search> para pequisar;</h6>
        <h6>Clique no botão <button class="btn btn-outline-success">Açougue</button> para ver os produtos desse setor e assim por diante;</h6>
        <h6>Clicando em <i-chevron-left class="text-success"></i-chevron-left> e <i-chevron-right class="text-success"></i-chevron-right>
          você consegue rolar e ver todas as categorias de produtos...</h6>
      </div>
      <img src="/assets/tuto2.jpg" alt="Tutorial 2">
    </div>
    <div class="tuto card clean-card">
      <div class="caption">
        <h3>Como finalizar a compra?</h3>
        <h6>No botão do carrinho (canto inferior esquerdo), já aparece a soma dos produtos adicionados até o momento</h6>
        <h6>Clicando no <i-shopping-cart class="text-success"></i-shopping-cart> você será direcionado para a página de finalização da compra</h6>
      </div>
      <img src="/assets/tuto3.jpg" alt="Tutorial 3">
    </div>
    <div class="card clean-card">
      <h3>Mais algumas considerações antes de iniciar sua compra</h3>
      <h6>> As estregas são realizadas de segunda a sexta;</h6>
      <h6>> As imagens são meramente ilustrativas;</h6>
      <h6>> As entregas estão sujeitas ao estoque dos produtos, sendo assim o valor total pode mudar;</h6>
      <h6>> O pagamento será efetuado na hora que entregarmos a mercadoria;</h6>
      <h6>> Atenderemos pedidos de no mínimo R$ 50,00 e o frete custará R$ 5,00;</h6>
      <h6>> Devido ao grande número de pedidos, e a demora na separação dos produtos,
        as compras terão um adicional de R$ 5,00 além do frete, totalizando R$ 10,00 de acréscimo;</h6>
      <h6>> Contamos com a compreensão de todos, principalmente nessa época de pandemia;</h6>
    </div>
    <div class="card clean-card">
      <h3>Obrigado pela atenção e pela preferência, boas compras!</h3>
      <a routerLink="/compras" class="btn btn-success rounded-pill">
        <i-shopping-cart></i-shopping-cart>
        Fazer compras agora
      </a>
    </div>
  </div>
</div>
