.cart {
    position: fixed;
    bottom: 1.5em;
    left: 1.5em;
    z-index: 1000;
    min-width: 3.5em;
    min-height: 3.5em;
    border-radius: 1.75em;
    box-shadow: 1px 1px 5px 0 gray;
    transition: 0.3s;
}
.cart:hover {
    transition: 0.3s;
    box-shadow: 1px 1px 10px 0 gray;
}
.cart span {
    background-color: #006400;
    color: white;
}
  