<section class="first-section">
  <div class="bg"></div>
  <div class="img-wrapper">
    <img src="https://res.cloudinary.com/hcg7pmygp/image/upload/c_thumb,w_200/v1607604732/logo.png" alt="Logotipo do Supermercado Copac">
  </div>
  <h1>
    Fique em casa, se cuide
    <i-heart style="fill: green; stroke: green"></i-heart>
  </h1>
  <h2>Compre pelo site e entregamos para você!</h2>
  <div class="animated zoomIn call-to-action">
    <a routerLink="/compras" class="btn btn-success rounded-pill m-1">
      <i-shopping-cart></i-shopping-cart>
      Comprar agora
    </a>
    <a routerLink="/tutorial" class="btn btn-outline-success rounded-pill m-1">
      <i-info></i-info>
      Aprenda a usar
    </a>
    <button class="btn btn-outline-success rounded-pill m-1" data-toggle="modal" data-target="#envio-whats">
      <img src="/assets/wpp.png" alt="WhatsApp Icon" class="logo">
      Receba nossas ofertas
    </button>
  </div>
</section>
<section class="container-fluid actions">
  <a class="card clean-card" id="cadastro" data-toggle="modal" data-target="#envio-whats">
    <i-bell class="card-icon"></i-bell>
    <div class="card-body">
      <h6 class="card-title">Receber Ofertas</h6>
      <p class="card-text">Se cadastre e receba nossa ofertas todos os dias no seu WhatsApp</p>
    </div>
  </a>
  <a href="/#social" class="card clean-card">
    <i-facebook class="card-icon"></i-facebook>
    <div class="card-body">
      <h6 class="card-title">Redes Sociais</h6>
      <p class="card-text">Siga-nos e fale conosco pelas nossas redes sociais</p>
    </div>
  </a>
  <a routerLink="/ofertas" class="card clean-card">
    <i-trending-down class="card-icon"></i-trending-down>
    <div class="card-body">
      <h6 class="card-title">Promoções</h6>
      <p class="card-text">Ver todas as nossas ofertas ativas</p>
    </div>
  </a>
  <a routerLink="/video" class="card clean-card">
    <i-play class="card-icon"></i-play>
    <div class="card-body">
      <h6 class="card-title">Vídeo</h6>
      <p class="card-text">Ver o vídeo com as ofertas especiais do fim de semana</p>
    </div>
  </a>
  <a routerLink="/sobre-nos" class="card clean-card">
    <i-users class="card-icon"></i-users>
    <div class="card-body">
      <h6 class="card-title">Sobre nós</h6>
      <p class="card-text">Saiba mais sobre a história de lutas, superação e cooperativismo</p>
    </div>
  </a>
</section>
<section class="container setores">
  <div class="card clean-card">
    <div class="row no-gutters">
      <div class="col-3 col-md-4 my-auto">
        <img id="img-verd" (mouseover)="animate('img-verd','pulse',$event)" (mouseout)="animate('img-verd','pulse',$event)"
        class="rounded-circle" src="https://res.cloudinary.com/hcg7pmygp/image/upload/c_thumb,w_200/v1607601047/verduras.jpg" alt="Hortifruti">
      </div>
      <div class="col-9 col-md-8 card-body">
        <h2 class="card-title">Hortifruti</h2>
        <p class="card-text">Aqui você encontra frutas, legumes e verduras fresquinhos com qualidade e preços que você merece! Venha conferir.</p>
      </div>
    </div>
  </div>
  <div class="card clean-card">
    <div class="row no-gutters">
      <div class="col-3 col-md-4 my-auto">
        <img id="img-carne" (mouseover)="animate('img-carne','pulse',$event)" (mouseout)="animate('img-carne','pulse',$event)"
        class="rounded-circle" src="https://res.cloudinary.com/hcg7pmygp/image/upload/c_thumb,w_200/v1607601041/carne.jpg" alt="Carnes">
      </div>
      <div class="col-9 col-md-8 card-body">
        <h2 class="card-title">Açougue</h2>
        <p class="card-text">As melhores carnes da cidade e embutidos frescos produzidos em nossa própria agroindústria com a qualidade que você conhece.</p>
      </div>
    </div>
  </div>
  <div class="card clean-card">
    <div class="row no-gutters">
      <div class="col-3 col-md-4 my-auto">
        <img id="img-pao" (mouseover)="animate('img-pao','pulse',$event)" (mouseout)="animate('img-pao','pulse',$event)"
        class="rounded-circle" src="https://res.cloudinary.com/hcg7pmygp/image/upload/c_thumb,w_200/v1607601040/padaria.jpg" alt="Padaria">
      </div>
      <div class="col-9 col-md-8 card-body">
        <h2 class="card-title">Padaria</h2>
        <p class="card-text">Pães, cucas, bolachas, tudo produzido na nossa padaria colonial e pensado para agradar o seu paladar. Prove essas delícias!</p>
      </div>
    </div>
  </div>
  <div class="card clean-card">
    <div class="row no-gutters">
      <div class="col-3 col-md-4 my-auto">
        <img id="img-loja" (mouseover)="animate('img-loja','pulse',$event)" (mouseout)="animate('img-loja','pulse',$event)"
        class="rounded-circle" src="https://res.cloudinary.com/hcg7pmygp/image/upload/c_thumb,w_200/v1607601041/loja.jpg" alt="Loja">
      </div>
      <div class="col-9 col-md-8 card-body">
        <h2 class="card-title">Mercearia</h2>
        <p class="card-text">Tudo para as compras do mês, da semana ou do dia, muita variedade e principalmente os melhores preços para sua família!</p>
      </div>
    </div>
  </div>
  <div id="social" class="card clean-card mt-3">
    <app-contact></app-contact>
  </div>
</section>
